@import '@/styles/mixins';

.title {
  display: flex;
  justify-content: center;
  margin-bottom: pxToRem(80);
}

@media (max-width: map-get($breakpoints, 'mobile')) {
  .title {
    margin-bottom: pxToRem(60);
  }
}
