@import '@/styles/colors';
@import '@/styles/mixins';

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: pxToRem(510);
  padding: pxToRem(94) pxToRem(50);
  border: 1px solid $gray-light;
  border-radius: 30px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: pxToRem(62);
}

.inputWrap {
  display: flex;
  flex-direction: column;
  gap: pxToRem(12);
  width: 100%;
}

.linkWrap {
  display: flex;
  justify-content: right;
  margin: pxToRem(6) 0;
}

.message {
  padding: 0 pxToRem(16);
}

.link::after {
  content: ' ';
  display: inline-block;
  margin: 0 10px;
  border-left: 2px solid $gray-normal;
  height: pxToRem(12);
  vertical-align: middle;
}

@media (max-width: map-get($breakpoints, 'mobile')) {
  .container {
    border-radius: 0;
    padding-left: pxToRem(30);
    padding-right: pxToRem(30);
  }
}
