$primary: #0000ff;
$secondary: #F3F3FF;
$third: #ffcc49;

$white: #fff;
$black: #343434;
$danger: #ef4343;

$gray-strong: #999;
$gray-normal: #b5b5b5;
$gray-light: #e4e4e4;

$background: #f6f4f1;
$muted-foreground: #65758b;
$border: #e1e7ef;

$dark-muted-foreground: #94a3b8;
$dark-destructive: #7c1d1d;
